{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    <h1>Project</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ project.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ project.title }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ project.createdAt ? project.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ project.description }}</td>
            </tr>
            <tr>
                {% if project.screenshot %}
                    <p>
                        <strong>Screenshot:</strong>
                        <img src="{{ asset('upload/screenshots/' ~ project.screenshot) }}" alt="Screenshot of {{ project.title }}" style="max-width: 400px;">
                    </p>
                {% else %}
                    <p>No screenshot available.</p>
                {% endif %}
            </tr>
            <tr>
                <th>Etc</th>
                <td>{{ project.etc }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_project_index') }}">back to list</a>

    <a href="{{ path('app_project_edit', {'id': project.id}) }}">edit</a>

    {{ include('project/_delete_form.html.twig') }}
{% endblock %}
